.loader-container {
  margin-top: 20px;
}

.loader-spin {
    width: 48px;
    height: 48px;
    display: inline-block;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}