.select-container {
    margin: 20px auto;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.select-container select {
    font-size: 1.25rem;
}

.select-container span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
}

.button-select {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}